<html>
  <title>Fylo</title>
  <link rel="icon" href="icon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body class="bg-[#181E2A]">
    <nav class="flex mt-12">
      <div class="ml-6">
        <img src="logo.svg" />
      </div>
      <div class="self-center w-full ml-4">
        <ul
          class="flex flex-row float-right space-x-5 md:space-x-10 mr-20 text-stone-400"
        >
          <li>
            <a href="/" class="hover:text-white hover:underline">Features</a>
          </li>
          <li>
            <a href="/" class="hover:text-white hover:underline">Team</a>
          </li>
          <li>
            <a href="/" class="hover:text-white hover:underline">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <section>
        <picture>
          <img src="intro.png" alt="intro" class="mx-auto mt-20 px-16" />
        </picture>
        <div class="text-center mt-4">
          <p class="text-white text-3xl font-semibold max-w-xl mx-auto">
            All your files in onse cure location, accessible anywhere.
          </p>
          <p class="text-gray-400 mt-6 mx-auto max-w-md mb-5">
            Fylo stores all your most important files in one secure location.
            Access them wherever you need, share and collaborate with friend
            family, and co-workers.
          </p>
          <button
            type="button"
            class="bg-[#8CDBE4] w-56 h-10 rounded-full hover:text-white"
          >
            Get Started
          </button>
        </div>
      </section>
      <section
        class="grid grid-cols-1 md:grid-cols-2 gap-y-16 text-center mt-32"
      >
        <div>
          <picture>
            <img src="icon-access-anywhere.svg" class="mb-7 mx-auto" />
          </picture>
          <p class="text-white mb-2 font-bold">Access your files, anywhere</p>
          <p class="text-gray-300 max-w-sm mx-auto">
            The ability to use a smartphone, table, or computer to access your
            account means your files follow you everywhere.
          </p>
        </div>
        <div>
          <picture>
            <img src="icon-security.svg" class="mb-7 mx-auto" />
          </picture>
          <p class="text-white mb-2 font-bold">Security you can trust</p>
          <p class="text-gray-300 max-w-sm mx-auto">
            2-factor authentication and user-controlled encryption are just a
            couple of the security features we allow to help secure your files.
          </p>
        </div>
        <div>
          <picture>
            <img src="icon-collaboration.svg" class="mb-7 mx-auto" />
          </picture>
          <p class="text-white mb-2 font-bold">Real-time collaboration</p>
          <p class="text-gray-300 max-w-sm mx-auto">
            Securely share files and folders with friends, family and colleagues
            for live collaboration. No email attachments required.
          </p>
        </div>
        <div>
          <picture>
            <img src="icon-any-file.svg" class="mb-7 mx-auto" />
          </picture>
          <p class="text-white mb-2 font-bold">Store any type of file</p>
          <p class="text-gray-300 max-w-sm mx-auto">
            Whether you`re sharing hollidays photos or work documents, Fyle ahs
            you covered allowing for all file types to be securely stored and
            shared.
          </p>
        </div>
      </section>
      <section
        class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-10 mt-32 align-item"
      >
        <picture>
          <img src="illustration.png " alt="illustration" class="px-12" />
        </picture>
        <div class="mx-auto items-center my-auto ml-6">
          <h1 class="font-semibold text-white text-3xl max-w-xs mb-8">
            Stay productive, wherever you are
          </h1>
          <p class="max-w-md text-gray-300 mb-4">
            Never let location be an issue when accessing your files, Fylo has
            you covered for all your file storage needs.
          </p>
          <p class="max-w-md text-gray-300 mb-4">
            Securely share files and folders with friends, family and colleagues
            for live collaboration. No email attachments required.
          </p>
          <a
            href=""
            class="flex text-white underline hover:underline hover:text-[#8CDBE4]"
            >See how Fylo works</a
          >
        </div>
      </section>
      <section
        class="grid justify-items-center grid-cols-1 lg:grid-cols-3 justify-center gap-x-16 gap-y-24 mt-40 mb-4 mx-auto px-8"
      >
        <div
          class="bg-[#21293C] h-56 relative p-8 rounded border-2 border-[#1B202C] shadow-lg sm:h-48 lg:h-60"
        >
          <picture>
            <img src="bg-quotes.png" class="absolute -top-8 -z-10" />
          </picture>
          <p class="text-gray-300 text-left">
            Fylo has improved our team productivity by an order of magnitude.
            Since making the switch our team has become a well-oiled
            collaboration machine.
          </p>
          <footer class="mt-4 flex flex-row">
            <picture>
              <img src="profile-1.jpg" class="w-8 rounded-full mr-3" />
            </picture>
            <div class="">
              <h1 class="text-white text-sm">Satish Patel</h1>
              <h2 class="text-gray-500 text-xs">Founder & CEO, Huddle</h2>
            </div>
          </footer>
        </div>
        <div
          class="bg-[#21293C] h-56 relative p-8 rounded border-2 border-[#1B202C] shadow-lg sm:h-48 lg:h-60"
        >
          <p class="text-gray-300 text-left">
            Fylo has improved our team productivity by an order of magnitude.
            Since making the switch our team has become a well-oiled
            collaboration machine.
          </p>
          <footer class="mt-4 flex flex-row">
            <picture>
              <img src="profile-2.jpg" class="w-8 rounded-full mr-3" />
            </picture>
            <div class="">
              <h1 class="text-white text-sm">Bruce McKenzie</h1>
              <h2 class="text-gray-500 text-xs">Founder & CEO, Huddle</h2>
            </div>
          </footer>
        </div>
        <div
          class="bg-[#21293C] h-56 relative p-8 rounded border-2 border-[#1B202C] shadow-lg sm:h-48 lg:h-60"
        >
          <p class="text-gray-300 text-left">
            Fylo has improved our team productivity by an order of magnitude.
            Since making the switch our team has become a well-oiled
            collaboration machine.
          </p>
          <footer class="mt-4 flex flex-row">
            <picture>
              <img src="profile-3.jpg" class="w-8 rounded-full mr-3" />
            </picture>
            <div class="">
              <h1 class="text-white text-sm">Iva Boyd</h1>
              <h2 class="text-gray-500 text-xs">Founder & CEO, Huddle</h2>
            </div>
          </footer>
        </div>
      </section>
      <section class="mb-10 translate-y-24">
        <div
          class="bg-[#1C2330] w-9/12 mx-auto rounded h-96 sm:h-72 text-center"
        >
          <br />
          <p class="text-white font-semibold text-xl sm:text-3xl">
            Get early access today
          </p>
          <p class="text-[#C1CAD1] mt-5 px-12">
            it only takes a minute to sign up and our free starter tier is
            extremely generous. if you have any question, our support team would
            be happy to help you.
          </p>
          <div
            class="grid grid-cols-1 justify-items-center place-content-center gap-x-3 gap-y-8 md:grid-cols-2 mt-4 sm:flex items-center mb-6"
          >
            <input type="text" class="rounded-full h-10 w-60 md:w-80 pl-8" />
            <button class="rounded-full bg-[#8CDBE4] h-10 w-52 hover:text-white"
              >Get Started For Free</button
            >
          </div>
        </div>
      </section>
      <section class="bg-[#0C1524]">
        <footer
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 text-left justify-items-left w-[90%] mx-auto py-28"
        >
          <div>
            <picture>
              <img src="logo.svg" alt="" />
            </picture>
          </div>
          <div class="mt-5 sm:mt-0 text-white">
            <div class="flex flex-row mb-4">
              <img src="icon-phone.svg" class="w-4 h-4 my-auto" />
              <p class="ml-6">+1-543-123-4567</p>
            </div>
            <div class="flex flex-row mb-4">
              <img src="icon-email.svg" class="w-4 h-4 my-auto" />
              <p class="ml-6">example@fylo.com</p>
            </div>
          </div>
          <div class="mt-5 sm:mt-0 text-stone-400">
            <ul class="space-y-3">
              <li>
                <a href="/" class="hover:underline hover:text-white">About Us</a
                >
              </li>
              <li>
                <a href="/" class="hover:underline hover:text-white">Jobs</a>
              </li>
              <li>
                <a href="/" class="hover:underline hover:text-white">Press</a>
              </li>
              <li>
                <a href="/" class="hover:underline hover:text-white">Blog</a>
              </li>
            </ul>
          </div>
          <div class="mt-5 sm:mt-0 text-stone-400">
            <ul class="space-y-3">
              <li>
                <a href="/" class="hover:underline hover:text-white"
                  >Contact Us</a
                >
              </li>
              <li>
                <a href="/" class="hover:underline hover:text-white">Terms</a>
              </li>
              <li>
                <a href="/" class="hover:underline hover:text-white">Privacy</a>
              </li>
            </ul>
          </div>
          <div class="flex flex-row gap-x-3 mt-5 lg:mt-0">
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-white border-white rounded-full border p-1 hover:fill-[#66DDD7] hover:border-[#66DDD7]"
                ><path
                  d="M16.403,9H14V7c0-1.032,0.084-1.682,1.563-1.682h0.868c0.552,0,1-0.448,1-1V3.064c0-0.523-0.401-0.97-0.923-1.005 C15.904,2.018,15.299,1.999,14.693,2C11.98,2,10,3.657,10,6.699V9H8c-0.552,0-1,0.448-1,1v2c0,0.552,0.448,1,1,1l2-0.001V21 c0,0.552,0.448,1,1,1h2c0.552,0,1-0.448,1-1v-8.003l2.174-0.001c0.508,0,0.935-0.381,0.993-0.886l0.229-1.996 C17.465,9.521,17.001,9,16.403,9z"
                ></path>
              </svg>
            </a>
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 16 16"
                class="fill-white border-white rounded-full border p-1 hover:fill-[#66DDD7] hover:border-[#66DDD7]"
                ><path
                  d="M 15 3.296875 C 14.476563 3.523438 13.949219 3.691406 13.367188 3.746094 C 13.949219 3.410156 14.417969 2.84375 14.648438 2.226563 C 14.066406 2.5625 13.484375 2.789063 12.84375 2.902344 C 12.257813 2.339844 11.5 2 10.683594 2 C 9.109375 2 7.824219 3.242188 7.824219 4.765625 C 7.824219 4.988281 7.824219 5.214844 7.882813 5.386719 C 4.875 5.386719 2.8125 3.691406 1.414063 2 C 1.121094 2.394531 1.003906 2.902344 1.003906 3.410156 C 1.003906 4.367188 1.53125 5.214844 2.289063 5.722656 C 1.820313 5.667969 1.355469 5.554688 1.003906 5.386719 C 1.003906 5.386719 1.003906 5.386719 1.003906 5.441406 C 1.003906 6.796875 1.996094 7.921875 3.28125 8.148438 C 3.046875 8.203125 2.8125 8.261719 2.519531 8.261719 C 2.347656 8.261719 2.171875 8.261719 1.996094 8.207031 C 2.347656 9.335938 3.976563 10.632813 5.257813 10.632813 C 4.265625 11.363281 3.34375 12 1.5 12 C 1.265625 12 1.453125 12 1 12 C 2.28125 12.789063 3.800781 13 5.375 13 C 10.683594 13 13.542969 8.769531 13.542969 5.101563 C 13.542969 4.988281 13.542969 4.878906 13.542969 4.765625 C 14.125 4.367188 14.59375 3.863281 15 3.296875"
                ></path>
              </svg>
            </a>
            <a href="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 16 16"
                class="fill-white border-white rounded-full border p-1 hover:fill-[#66DDD7] hover:border-[#66DDD7]"
                ><path
                  d="M 4.773438 1 C 2.695313 1 1 2.695313 1 4.773438 L 1 10.230469 C 1 12.304688 2.695313 14 4.773438 14 L 10.230469 14 C 12.304688 14 14 12.304688 14 10.226563 L 14 4.773438 C 14 2.695313 12.304688 1 10.226563 1 Z M 4.773438 2 L 10.226563 2 C 11.765625 2 13 3.234375 13 4.773438 L 13 10.226563 C 13 11.765625 11.765625 13 10.230469 13 L 4.773438 13 C 3.234375 13 2 11.765625 2 10.230469 L 2 4.773438 C 2 3.234375 3.234375 2 4.773438 2 Z M 11.5 3 C 11.222656 3 11 3.222656 11 3.5 C 11 3.777344 11.222656 4 11.5 4 C 11.777344 4 12 3.777344 12 3.5 C 12 3.222656 11.777344 3 11.5 3 Z M 7.5 4 C 5.574219 4 4 5.574219 4 7.5 C 4 9.425781 5.574219 11 7.5 11 C 9.425781 11 11 9.425781 11 7.5 C 11 5.574219 9.425781 4 7.5 4 Z M 7.5 5 C 8.886719 5 10 6.113281 10 7.5 C 10 8.886719 8.886719 10 7.5 10 C 6.113281 10 5 8.886719 5 7.5 C 5 6.113281 6.113281 5 7.5 5 Z"
                ></path>
              </svg>
            </a>
          </div>
        </footer>
      </section>
    </main>
  </body>
</html>
